*{
  font-family: 'PT Sans', sans-serif;
}
p{
  font-size: 16px;
}
hr {
    margin-top: -21px;
    margin-bottom: -12px;
}
h1{
  font-size: 3.5em;
}
h2 {
  font-size: 1.8em;
  margin-top: -33px;
}
div#contedorUno{
  width: 100%;
  max-width: 840px;
  margin: auto;
  color: #ffffff;
  z-index: 4;
  position: relative;
  text-align: center;
  margin-top: -130px;

}
video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-58%);
    z-index: 1;
    opacity: .1;
}
bottom {
    background: orange;
    padding: 13px;
    border-radius: 2px;
}
div#nav{
  margin-left: 50px;
  padding: 5px;
  position: fixed;
  width: 100%;
  max-width: 1200px;
  /*background: red;*/
  z-index: 5;
}
div#divmenu{
  float: right;
  margin-right: -10px;
}
div#logo {
    float: left;
    padding: 10px;
}
div#logo img{
    width: 170px;
}
div#divmenu p#menu{
  display: inline-block;
  /*background: blue;*/
  padding: 10px;
  color: #ffffff;
}
span#botonAbajo {
    position: fixed;
    bottom: 0px;
    font-size: 83px;
    transform: scale(1);
    margin-left: -41px;
    transition: .05s;
}
