*{
  font-family: 'PT Sans', sans-serif;
}
a{
  text-decoration: none;
  color: #ffffff;
}
p{
  font-size: 16px;
}
hr {
    margin-top: -29px;
    margin-bottom: 5px;
    border: 0px;
    width: 50px;
    height: 4px;
    background: #3b8dbd;
    border-color: #3b8dbd;
}
h1{
  font-size: 3.5em;
}
h2 {
  font-size: 1.88em;
  margin-top: -33px;
}
div#contedorUno{
  width: 100%;
  max-width: 840px;
  margin: auto;
  color: #ffffff;
  z-index: 4;
  position: relative;
  text-align: center;
  margin-top: -130px;
}
div#sectionUno{
  text-align: center;
  background-color: red;
  background-image: url(../IMG/fondo.jpg);
  background-size: 100%;
}
bottom {
    background: orange;
    padding: 13px;
    border-radius: 2px;
}
div#contenedorNav{
  margin: auto;
  position: fixed;
  width: 100%;
  background: red;
  z-index: 5;
  background: rgba(49, 49, 49, 0.66);
}
div#nav{
  margin-left: 50px;
  padding: 5px;
  width: 100%;
  max-width: 1200px;
}
div#divmenu{
  float: right;
}
div#logo {
    float: left;
    padding: 10px;
    margin-top: 8px;
}
div#logo img{
    width: 170px;
}
div#divmenu p#menu{
  display: inline-block;
  padding: 10px;
  color: #ffffff;
}
span#botonAbajo {
    position: fixed;
    bottom: 0px;
    font-size: 83px;
    transform: scale(1);
    margin-left: -41px;
    transition: .2s;
    color: #ffffff;
}
div#contedorDos {
    width: 100%;
    max-width: 840px;
    margin: auto;
    color: #ffffff;
    z-index: 4;
    position: relative;
    text-align: center;
    margin-top: -33px;
}

#segundaFullpage{
  background: url(../IMG/team.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom -280px;
}

/*COMPRAR*/
.flex-container-planes {
    display: flex;
    max-width: 980px;
    margin: auto;
}
.flex-comprar-1 {
    background-color: #efefef;
    width: 350px;
    height: 325px;
    margin: 2px;
    text-align: center;
    box-shadow: 0px 0px 1px 1px #c7c7c7;
    border-radius: 2px;
}
.flex-itemm-2 {
    background-color: #FAFAFA;
    width: 350px;
    height: 345px;
    margin-top: -10px;
      margin-left: -5px;
  margin-right: -5px;
    text-align: center;
    box-shadow:0px 0px 7px 1px #737373;
      z-index: 10;
        border-radius: 2px;
}
.flex-itemm-3 {
    background-color: #efefef;
    width: 350px;
    height: 325px;
    margin: 2px;
    text-align: center;
    box-shadow: 0px 0px 1px 1px #c7c7c7;
      border-radius: 2px;
}

#precio{
  font-size: 120px;
  font-weight: bold;
  color: #0088cc;
  margin-bottom: -19px;
    margin-top: -29px;
}

#comprar{
  background: #0088cc;
  color: #ffffff;
  width: 200px;
  margin: auto;
  padding: 15px;
  font-weight: bold;
 border-radius: 2px;
     margin-top: 10px;

}
#comprar:hover{
  background: #01689b;
}
.flex-container-planes a{
  text-decoration: none;
  color: #ffffff;
}

.tituloPrecio{
  margin: 20px;
}

img#pais {
    width: 20px;
    height: 20px;
    border-radius: 48px;
}

p#ben{
    display: initial;
    background: #0480ff;
    margin-left: 13px;
    margin-top: 20px;
    padding: 10px;
    width: 148px;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 45px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
}

p#ben:hover {
    background: #064a90;
}
div#otrosPaises {
    float: left;
    margin-top: 20px;
    background: #FF9800;
    color: #ffffff;
    padding: 10px;
    /* border-radius: 2px; */
    border: solid 1px #ad6700;
    cursor: pointer;
    margin-left: 196px;
    margin-top: 19px;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label{
  cursor: pointer;
}

input[type="checkbox"]:checked + label {
    background: rgba(202, 120, 2, 0.53);
    padding: 6px;
    /* padding-left: 6px; */
    /* margin: 0px; */
}
